<h1>{{story.title}}</h1>
<!REPLACE WITH AJAX>

{{#each chapts as |chapt|}}
	Here is what has happened so far: 
	<br>
	{{chapt.chap.current.action}} then {{chapt.chap.current.effect}}
	<br>
	How do you think it should continue:
	<form method="POST" action="">
		<input type="text" name='index' value={{chapt.index}} class="invisible">
		Action 1: <input type="text" name="aOne">
		Effect: <input type="text" name="eOne">
		<br>
		Action 2: <input type="text" name ="aTwo">
		Effect: <input type="text" name="eTwo">
		<br>
		<! MOVE SUBMIT BUTTON OUTSIDE?>
		<br>
		<input type="submit">
	</form>
{{/each}}

