<h1>{{story.title}}</h1>
{{#each chapts as |chapt|}}
	Here is what has happened so far: <!find what was last written>
	<br>
	{{chapt.current.effect}}
	<br>
	How do you think it should continue:
	<form method="POST" action="">
		Action 1: <input type="text" name="aOne">
		Effect: <input type="text" name="eOne">
		<br>
		Action 2: <input type="text" name ="aTwo">
		Effect: <input type="text" name="eTwo">
		<br>
		<! MOVE SUBMIT BUTTON OUTSIDE?>
		<input type="submit">
	</form>
	<br>
{{/each}}
