<h1> Create a New Story </h1>
<form method="POST" action"/create">
	Title: <input type="text" name="title">
	<br>
	Beginning: <input type="text" name="point">
	<br>
	<input type="submit" value="Create">
</form>
<br>
<i>{{error}}</i>
