<script src="js/main.js"></script>
<h1>{{story.title}}</h1>
<div id="current">
	{{story.chapts.[0].current.effect}}
</div>
<form action="" method="POST">
	<input type="radio" name="choices" value="a"> {{story.chapts.[0].choiceA.action}}
	<br>
	<input type="radio" name="choices" value="b"> {{story.chapts.[0].choiceB.action}}
</form>
